[submodule "vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/mathiasgam/glfw.git
[submodule "vendor/glm"]
	path = Vendor/glm
	url = https://github.com/mathiasgam/glm.git
[submodule "vendor/glad"]
	path = Vendor/glad
	url = https://github.com/mathiasgam/glad.git
