
# ignore everything as a default
*.*

bin/
bin-int/

# include git files
!.git/
!.gitignore
!LICENSE

# include setup files
!premake5.lua
!*.bat

!**.cl
!**.vert
!**.frag
!**.h
!**.c
!**.hpp
!**.cpp
!**.inl

!models/**
!Assets/**